*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body 
{
    height: 100vh;
    width: 100%;
    font-family: Helvetica;
}

ul
{
    list-style: none;
}

li
{
    font-weight: 600;
}

#header
{
    width: 100%; /* si adatta in larghezza alle risoluzioni di tutti i browser */
    height: 50px;
    border:0px whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background: whitesmoke;
}

#butTypeA1
{
    text-align: right; 
    border:0px; 
    color:orange; 
    vertical-align: middle;
    text-decoration: none; 
    transition-duration: 300ms;
}

#butTypeA1:hover 
{ 
    font-family: Verdana;
    font-size: 16px;
    color: #000000;
    border: transparent;
    background-color: rgb(255, 208, 121);
    border-radius: 25px;
    padding: 10px;
    transition-duration: 300ms;
}

#butTypeB1
{
    color: black;
    text-align: right; 
    border:0px; 
    background-color:transparent;
    vertical-align: middle;
    text-decoration: none;
    transition-duration: 300ms;
}

#butTypeB1:hover 
{ 
    font-family: Verdana;
    font-size: 16px;
    color: #000000;
    border: transparent;
    background-color: rgb(255, 208, 121);
    border-radius: 25px;
    padding: 10px;
    transition-duration: 300ms;
}

#butTypeB2
{
    color: black;
    text-align: right; 
    border:0px; 
    background-color:transparent;
    vertical-align: middle;
    text-decoration: none;
    transition-duration: 300ms;
}

#butTypeB2:hover 
{ 
    font-family: Verdana;
    font-size: 16px;
    color: #000000;
    border: transparent;
    background-color: rgb(255, 208, 121);
    border-radius: 25px;
    padding: 10px;
    transition-duration: 300ms;
}

#butTypeB3
{
    color: black;
    text-align: right; 
    border:0px; 
    background-color:transparent;
    vertical-align: middle;
    text-decoration: none;
    transition-duration: 300ms;
}

#butTypeB3:hover 
{ 
    font-family: Verdana;
    font-size: 16px;
    color: #000000;
    border: transparent;
    background-color: rgb(255, 208, 121);
    border-radius: 25px;
    padding: 10px;
    transition-duration: 300ms;
}

#main
{
    background-image:    url("./public/images/sfondoBGSfocato.jpeg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

    height: 500px;
    margin: 0;
    padding: 30px;
}

#footer
{
    width: 100%;
    height: 30px;
    background-color: orange;
    padding: 20px;
    border:1px solid black;
    text-align: center;
    bottom: 0;
    position: absolute;
}

div.center-text 
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 300px;
}

a
{
    text-decoration: none;
    margin: 0 5px;
    color: black;
}


.btn 
{
    color: black;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn:hover 
{
    background: #f4f4f4;
}

.flex-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Utility Classes */

.container{
    max-width: 1200px;
    padding: 0 20px;
    overflow: auto;
    margin: auto;
}


.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Main*/

/* Searchbar and Filters */
main .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .container > div{
    padding: 10px;
}

.search form > *{
    margin: 20px 0;
}

/* Search field */
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 30px;
    padding: 5px 2px;
    width: 450px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    margin: 200px auto;
    background-color: white;
}

.search-bar #search-field{
    border: none;
    padding: 8px 0;
    background-color: white;
}

.search-bar #search-field:focus{
    outline: none;
}

.search-bar #search-button{
    border: none;
    color: rgba(0,0,0,0.8);
    background-color: white;
}

.fas{
    color: rgba(0,0,0,0.6);
}

/* Sliders */
input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: white;
  border-radius: 25px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #828282;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: orange;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FF7B08;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #FF7B08;
  border-radius: 25px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #828282;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #EEFF00;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FF7B08;
  border: 1px solid #000000;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #FF7B08;
  border: 1px solid #000000;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #828282;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #EEFF00;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FF7B08;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FF7B08;
}

/* Filters */
.filters
{
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 10px 5px;
}

.filters > *
{
    padding: 10px 5px;
}

.filters > div > input
{
    width: 100%;
    padding: 5px 5px;
}

.filters label
{
    font-size: 13px;
    font-weight: 400;
}

/* Showcase cards */
.showcase-card
{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;

    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 15px
}

.showcase-card img
{
    width: 200px;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.showcase-card .card-description
{
    padding: 10px 20px;

}

.showcase-card .card-description p
{
    margin: 20px 0;
}

/* Roba per la chat */
#chat
{
    margin: 30px auto;
    border-color: orange;
    border-radius: 20px;
}

#chat-window
{
    width: 596px;
    height: 600px;
    overflow: auto;
    background-color: white;
    border-color: black;
    border-radius: 20px;
    margin-left: 2px;
    margin-right: 2px;
    /*border-radius: 30px;*/
    /* opacity: 0.35; */
    /* filter: drop-shadow(0 0 0.75rem rgb(203, 247, 247));
     filter: blur(4px); */
}

/* gestione output chat */
#output p
{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
    border-radius: 30px;
}